.l-inner
  %h2.c-page-head ログインする
  .c-form
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .c-form__field
        = f.label :email, 'メールアドレス', class: 'c-form__label'
        = f.email_field :email, autofocus: true, autocomplete: "email" , class: 'c-form__input-text', placeholder: 'メールアドレスを入力してください'
      .c-form__field
        = f.label :password, 'パスワード', class: 'c-form__label'
        = f.password_field :password, autocomplete: "current-password", class: 'c-form__input-text', placeholder: 'パスワードを入力してください'
      - if devise_mapping.rememberable?
        .c-form__field
          = f.check_box :remember_me, class: 'c-form__checkbox'
          = f.label :remember_me, 'ログインしたままにする', class: 'c-form__label c-form__label--checkbox'
      .actions
        = f.submit "ログインする", class: 'c-form__submit'
  = render "devise/shared/links"
